.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  padding: 10px;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
}

.analytics-panel {
  width: 30%;
  padding: 10px;
  background-color: #ffffff;
  border-left: 1px solid #ccc;
}
